**/.git
**/.svn
**/.hg
**/node_modules
**/dist
**/.idea
**/.vscode
**/models
**/public

**/*.css
**/*.scss
**/*.less
**/*.json

.gitignore

src/views/sparta-website/components/CustomHeader.vue
auto-imports.d.ts
components.d.ts
README.md

typings
